.str-chat__avatar,
.str-chat__message-simple__avatar {
    width: 36px !important;
    height: 36px !important;
}

body {
    overflow: hidden;
}

.str-chat__main-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.str-chat__message-list {
    flex: 1;
    overflow-y: auto;
}